<div class="header__row-container d-flex">
    <div class="menu">
        <i class="fas fa-bars"></i>
    </div>
    <ul class="d-flex">
        <li>Colored Lenses</li>
    </ul>
    <ul class="d-flex">
        <li>Make-up</li>
    </ul>
    <ul class="d-flex">
        <div class="swati_logo">
            <img src="../../../assets/images/logo.jpg" alt="">
        </div>
    </ul>
    <ul class="d-flex">
        <li>Bundles & Sets</li>
    </ul>
    <ul class="d-flex">
        <li>Reviews</li>
    </ul>

</div>