.swati-section {
    box-sizing: border-box;
    padding: 3rem 0;
    background-color: #FF7BA0 !important;
    text-align: center !important;
    display: block;
}

h3 {
    text-transform: uppercase;
    letter-spacing: .4rem;
}

input {
    border-radius: 0px !important;
    padding: 1rem;
    letter-spacing: .10rem;
}

h3,
p {
    font-weight: bold;
    color: black;
}

.btn {
    font-weight: 700;
    letter-spacing: .2em;
    text-transform: uppercase;
    color: #FF7BA0;
    background-color: black;
    border-color: black;
    border-radius: 0px !important;
}