.header__toolbar {
    color: #fff;
    height: 36px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .6875rem;
    letter-spacing: .1rem;
    padding: 0 2rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: uppercase;
    z-index: 3;
    background: #000000;
    width: 100%;
}

.content-1,
.content-2,
.content-3 {
    flex: 1;
    text-align: center;
    align-items: center;
}

.content-3 {
    align-items: center;
    justify-content: flex-end;
}

.promo {
    align-self: center;
    margin: auto;
}

.language {}

.personalise-label {}

.fas,
.fal {
    font-size: 1rem;
}

.fa-heart {
    color: #FD7998;
}

@media only screen and (max-width: 1300px) {
    .hidden-item {
        display: none !important;
    }
    .content1 {
        flex: none !important;
    }
    .content-2 {
        // text-align: center !important;
        // margin: 0 !important;
        flex: none !important;
    }
}

.fa-chevron-down {
    font-size: .5rem;
}

img {
    width: 24px;
    height: 24px;
    background-size: cover;
    border-radius: 50%;
    margin-right: 0.5 rem;
    position: static;
}