<div class="header__toolbar d-flex">

    <div role="button" class="content-1 language d-flex">
        <img src="../../../assets/images/flag.png.crdownload" class="mr-2" alt=""> svenska
        <i class="fas fa-chevron-down ml-2"></i>

    </div>

    <span class="content-2  m-auto">free delivery on orders above 2 pairs</span>


    <div class="content-3 d-flex hidden-item">
        <div role="button" class="personalise-label mr-5 d-flex">
            personalize
            <span>
                <i class="fas fa-chevron-down ml-2"></i>
            </span>
        </div>
        <div role="button" class="heart mr-4">
            <i class="fas fa-heart"></i>
            <span class="count_badge">1</span>
        </div>
        <div role="button" class="cart mr-4">
            <i class="fas fa-shopping-cart"></i>
            <span class="count_badge">1</span>
        </div>
    </div>
</div>