<app-promotions></app-promotions>
<app-navbar></app-navbar>
<div class="container ">
    <div class="row">
        <div class="col-md-6 mt-5">
            <div class="imge-container">
                <img class="w-100" src="../../../assets/images/all.png" alt="">
            </div>
        </div>
        <div class="col-md-6 mt-5">
            <div class="d-flex">
                <h1>ROYAL BUNDLE</h1>
                <span class="ml-auto">
                    <span class="badge badge-danger "><h6>Save 40%  </h6></span>
                </span>
            </div>
            <span class="text-muted">All the 8 shades</span>
            <div class="h4 text-danger mt-2 mb-5">40% off on bundles</div>
            <p class="mt-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis non hic vero repellat officia molestiae minima eius perspiciatis, eos debitis? Repellendus, nam? Soluta ea, ex sequi dicta nisi vero labore! Lorem, ipsum dolor sit amet consectetur
                adipisicing elit. Blanditiis non hic vero repellat officia molestiae minima eius perspiciatis, eos debitis? Repellendus, nam? Soluta ea, ex sequi dicta nisi vero labore!</p>
            <h1>AED 1,146</h1>
            <button class="btn btn-dark btn-lg mt-5">Add to Cart</button>
        </div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Active</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>
    </div>
</div>