<app-promotions></app-promotions>
<app-navbar></app-navbar>
<div class="separator"></div>
<div class="container ">
    <div class="row">
        <div class="col-md-6 mt-5">
            <div class="imge-container">
                <img class="w-100" [src]="productInfo.media.full" alt="">
            </div>
        </div>
        <div class="col-md-6 mt-5">
            <div class="d-flex">
                <h1>{{productInfo.name}}</h1>
                <span *ngIf="productInfo.discountPercent!==0" class="ml-auto">
                    <span class="badge badge-danger "><h6>Save {{productInfo.discountPercent }}%  </h6></span>
                </span>
            </div>
            <span class="text-muted">{{productInfo.excerpt}}</span>
            <div *ngIf="productInfo.discountPercent!==0" class="h4 text-danger mt-2 mb-5">{{productInfo.discountPercent }}% off on {{productInfo.collectionName}}</div>
            <p class="mt-4">{{productInfo.description}}</p>
            <h1>
                {{productInfo.priceAsNumber | currency : ' AED'}} <span class="text-muted line-through ">{{productInfo.priceBeforeDiscountAsNumber | currency : ' AED'}}</span>
            </h1>
            <button class="btn btn-dark btn-lg mt-5 w-100">Add to Cart</button>
            <button class="btn btn-success btn-lg  w-100">Talk to an expert</button>
            <button class="btn btn-danger btn-lg  w-100">Order Now!</button>
        </div>
        <ul class="nav nav-tabs mt-5 m-3 mb-5">
            <li class="nav-item">
                <a class="nav-link active">Glam Bundle</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Included in this Bundle</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Product Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">How to use</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">How to remove</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Share {{productInfo.name}}</a>
            </li>
        </ul>
        <div class="div mb-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis autem tempore deleniti deserunt provident? Ab, aut sint perferendis culpa harum adipisci. Quidem quod hic ipsum amet ipsam, molestias pariatur? Eveniet. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Veritatis autem tempore deleniti deserunt provident? Ab, aut sint perferendis culpa harum adipisci. Quidem quod hic ipsum amet ipsam, molestias pariatur? Eveniet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
            autem tempore deleniti deserunt provident? Ab, aut sint perferendis culpa harum adipisci. Quidem quod hic ipsum amet ipsam, molestias pariatur? Eveniet.
        </div>
    </div>
</div>