<app-promotions></app-promotions>
<app-navbar></app-navbar>
<div class="separator"></div>

<div class="container ">
    <div class="row">
        <div class="col-md-12 mt-5">
            <div class="imge-container">
                <img appResolveImage [src]="categoryInfo.media.full" alt="">
            </div>
        </div>
        <div class="col-md-8 mt-5">
            <h1>{{category | titlecase}}</h1>
            <p> {{categoryInfo.description}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-5">
            <p>Showing {{products.length}} Items</p>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-3" *ngFor="let data of products">
            <app-item-card-with-price [desc]="data.excerpt" [price]="data.priceAsNumber" [origPrice]="data.priceBeforeDiscountAsNumber" [image]="data.media.full" [title]="data.name" [route]="data.product"></app-item-card-with-price>
        </div>
    </div>
</div>