.item-card {
    .imge-container {
        min-height: 40vh;
        cursor: pointer;
        background-color: #EBEBEB;
        border-radius: 5px;
        display: flex;
        align-items: center;
        padding: 20px
    }
    img {
        width: 100%;
    }
    .title {
        width: 100%;
        font-size: 1rem;
    }
    .line-through {
        text-decoration: line-through;
        opacity: .5;
    }
}