<div class="row">
    <div class="col-12 img-container col-md-6 d-flex justify-content-center flex-column p-5">
        <img src="../../../assets/images/all.png" class="w-100" alt="">
    </div>
    <div class="col-12 col-md-6 d-flex justify-content-center flex-column p-5">
        <h3 class="h3">GET VIP ACCESS</h3>
        <h1>SINGLES DAY</h1>
        <P class="p mb-5">Our favorite day of the year is coming up and you don't want to miss this one. Sign up and get:</P>
        <div class="d-flex check-list mb-2">
            <i class="far fa-check-circle"></i>
            <div class="ml-5">
                <h3>Exclusive VIP access</h3>
                <p>Shop your favourites before they sell out</p>
            </div>
        </div>
        <div class="d-flex check-list mb-2">
            <i class="far fa-check-circle"></i>
            <div class="ml-5">
                <h3>Up to 50% off</h3>
                <p>Enjoy exclusive offers before anyone else</p>
            </div>
        </div>
    </div>
</div>