.row {
    background: #2F3186
}

img {
    width: 85% !important;
}

.img-container {
    justify-content: center;
    align-items: center;
}

.h3,
h1 {
    color: #FF7BA0;
}

.h3 {
    letter-spacing: .5rem;
    font-weight: 700;
}

h1 {
    letter-spacing: .5rem;
    font-weight: 800;
    font-size: 4.3rem;
}

.p {
    font-size: 1.5rem;
    color: white;
    width: 77%;
}

.check-list {
    width: 77%;
    h3 {
        color: white;
    }
    p {
        color: rgba(white, .8);
        font-size: 1.2rem;
    }
}

.fa-check-circle {
    color: #FF7BA0;
    font-size: 3.3rem;
}