.item-card {
    .imge-container {
        min-height: 40vh;
        cursor: pointer;
        background-color: #EBEBEB;
        border-radius: 5px;
        display: flex;
        align-items: center;
        padding: 20px
    }
    img {
        width: 100%;
    }
    .title {
        background: #FD7998;
        width: 100%;
        color: white;
        border-radius: 5px;
        padding: 10px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        text-transform: capitalize;
    }
    &:hover {
        box-shadow: 0px 0px 15px gray !important;
    }
}